<div class="show">
<p id="notice"><%= notice %></p>
<p>
  <strong>Lang:</strong>
  <%= @gist.lang %>
</p>
<p>
  <strong>Snippet:</strong>
</p>
	<% begin %>

		<%= raw Pygments.highlight(@gist.snippet, lexer: @gist.lang) %>
		
		<% rescue %>

		<%= raw Pygments.highlight(@gist.snippet) %>

	<% end %>
<p>
  <strong>Description:</strong>
  <%= @gist.description %>
</p>
<a href='<%= edit_gist_path(@gist) %>'><button type="button" class="btn btn-sm btn-success" style:"float: left;  margin-right: 10px" >Edit</button>
<a href='<%= gists_path %>'><button type="button" class="btn btn-sm btn-success" style:"float: left;  margin-right: 10px" >Back</button>
</div>